<form action="/cadastrarProduto" method="post">
    <p>Nome do Produto</p>
    <input type="text" name="nome">
    <p>Valor</p>
    <input type="number" name="valor">
    <p>Selecione a imagem:</p>
    <input type="file" name="imagem">

    <button type="submit">Cadastrar</button>
</form>